config.stopbubbling = true

# 启用链式调用
lombok.accessors.chain = true

# 默认log名称
lombok.log.fieldname = log

#生成注释
lombok.addJavaxGeneratedAnnotation = true

#bug检查, 禁用了! 有存在找不到findbug的jar包的情况
lombok.extern.findbugs.addSuppressFBWarnings = false

#消除调用父类equals/hashCode警告, 默认调用父类的两个方法
lombok.equalsAndHashCode.callSuper=call
